item {
    width: 500px;
    color: black;
    font-size: 20px;
    margin: 0 auto;
}
.itemName {
    font-weight: bold;
    padding: 20px;
}
.line {
    border: 1px solid rgb(9, 15, 15);
}
 .deleteButton {
    float: right;
    padding: 12px;
    border: none;
    background-color: aquamarine;
    color: rgb(5, 4, 4);
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
 }
 .completed {
    text-decoration: line-through;
 }